* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(250, 235, 215);
    text-align: center;
    font-family: sans-serif;
}

il, p {
    color: white;
}

header ul{
    display: inline;
}

#aside ul{
    display: block;
}

#container {
    max-width: 1920px;
    max-height: 1080px;
    margin: 0 auto;
    height: 80vh;
    width: 100%;
}


header {
    background-color: rgb(48, 143, 36);
    height: 10%;
    line-height: 380%;
}

#aside {
    background-color: #6299a7;
    float: left;
    width: 20%;
    height: 100%;
    line-height: 150%;
}

#main {
    background-color: rgb(220, 131, 255);
    float: left;
    width: 80%;
    height: 100%;
    align-self: center;
}

#rojo {
    border: red 5px solid;
    width: 95%;
    margin-top: 2%;
    height: 42%;
    margin-left: 3%;
}

#azul1 {
    border: blue 5px solid;
    width: 45%;
    height: 80%;
    float: left;
    margin-top: 2%;
    margin-left: 3%;
}


#azul2 {
    border: blue 5px solid;
    width: 29%;
    height: 80%;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
}



footer {
    background-color: rgb(255, 128, 105);
    height: 5%;
    clear: both;
    line-height: 170%;
}