:root {
    --color-primario: #003A7F;
    /* Azul oscuro */
    --color-secundario: #0094E9;
    /*Azul más claro */
    --color-texto-principal: #000;
    /* Negro */
    --color-texto-secundario: #FFF;
    /* Blanco */
    --color-fondo-principal: #FFF;
    /* Blanco */
    --fuente-principal: 'Quicksand', sans-serif;
    /* --espaciado-base: 1rem; */
}

* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 35%;
}

.menu {
    font-size: 5vw;

}

.menu li {
    list-style: none;
}

.menu li a {
    color: var(--color-primario);
    text-decoration: none;
    border-top: 1px solid var(--color-primario, rgba(0, 0, 0, 0.4));
    box-shadow: 0 -2px 1.5px var(--color-texto-principal, rgba(0, 0, 0, 0.4));
    display: flex;
    justify-content: center;
}

.menu li a.active {
    color: var(--color-secundario);
}
