/*DUDAS
    - la linea de que color es?
    - las mejores son en todos los dispositivos?
    - color footer
*/


:root {
    --color-primario: #003A7F;
    /* Azul oscuro */
    --color-secundario: #0094E9;
    /*Azul más claro */
    --color-texto-principal: #000;
    /* Negro */
    --color-texto-secundario: #FFF;
    /* Blanco */
    --color-fondo-principal: #FFF;
    /* Blanco */
    --fuente-principal: 'Quicksand', sans-serif;
    /* --espaciado-base: 1rem; */
}


* {
    margin: 0;
    padding: 0;
    font-family: var(--fuente-principal);
}

.logo {
    width: 35%;
}

.menu {
    font-size: 7vw;
    font-weight: 550;
}

.menu li {
    list-style: none;
}

.menu li a {
    color: var(--color-primario);
    text-decoration: none;
    border-top: 2px solid rgba(0, 0, 0, 0.308);
    display: flex;
    justify-content: center;
}

/*Para cambiar el color del seleccionado en el menu*/
.menu li a.active {
    color: var(--color-secundario);
}

.sec1 {
    background-image: url("../img/fondo-interred-p.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec1Titulo {
    color: var(--color-texto-secundario);
    font-size: 10vw;
    text-align: center;
    padding: 20% 10% 5% 10%;
}

.sec1Inf {
    color: var(--color-texto-secundario);
    font-size: 5vw;
    text-align: center;
    padding: 5% 10%;
}

.sec1Boton {
    background-color: var(--color-secundario);
    color: var(--color-texto-secundario);
    justify-content: center;
    width: 35%;
    height: 13vw;
    border-radius: 5%;
    border: var(--color-secundario);
}


.sec2 {
    background-color: var(--color-secundario);
    color: var(--color-texto-secundario);
    display: flex;
    flex-direction: column;
    padding: 7%;
    align-items: center;
}

.sec2Titulo {
    font-size: 6.5vw;
    text-align: center;
}

.sec2Info {
    font-size: 4.5vw;
    padding-top: 2%;
}

.imgEmpresa4 {
    padding-top: 5%;
    width: 90%;
}

.sec3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec3Titulo {
    font-size: 7vw;
    font-weight: 600;
    text-align: center;
    padding: 7%;
    padding-bottom: 2%;
}


.colorTit3 {
    color: var(--color-secundario);
}

.sec3Desc {
    padding-bottom: 5%;
    display: flex;
    align-items: center;
    padding: 7%;

}


.icono {
    font-size: 40vw;
    color: var(--color-fondo-principal);
}

.sec3Info {
    font-size: 6.7vw;
    font-weight: 700;
    margin: 4% 0% 15% 0%;
}

.botonRedondo {
    width: 80%;
    border-radius: 80%;
    background-color: var(--color-secundario);
    border: var(--color-secundario);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20%;
}

.especialidades {
    background-image: url("../img/fondo-servicios-p.jpg");
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.especialidadesTitulo {
    color: var(--color-primario);
    font-size: 7.5vw;
    font-weight: 700;
    text-align: center;
    margin-top: 5%;
}

.imagenEspecialidades {
    margin: 5% 7% 3% 7%;
    width: 80%;
}

.especialidadesInfo {
    color: var(--color-primario);
    font-size: 6.9vw;
    margin: 0% 10% 0% 10%;
    font-weight: bold;
}

.especialidadesTexto {
    color: var(--color-primario);
    padding: 4% 9%;
    font-size: 5vw;
}

.especialidadesBoton {
    color: var(--color-texto-secundario);
    background-color: var(--color-secundario);
    border: var(--color-secundario);
    border-radius: 5%;
    height: 7vh;
    width: 35%;
    font-size: 3.8vw;
    margin-bottom: 5%;
}

.proyectos {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.proyectoTitulo {
    font-size: 8vw;
    font-weight: 700;
    text-align: center;
    margin: 10% 0% 3% 0%;
}

.proyectoNombre {
    margin: 5% 0% 1% 0%;
    font-size: 6vw;
    font-weight: 700;
}

.imagenProyecto {
    border-radius: 3%;
    margin-bottom: 3%;
}


footer {
    background-color: var(--color-texto-principal);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footerTexto {
    padding-top: 3%;
    color: var(--color-texto-secundario);
    font-size: 3vw;
}

.iconoRedes {
    color: var(--color-fondo-principal);
    font-size: 6.5vw;

}

.iconoFooter {
    width: 30%;
    display: flex;
    margin-top: 2%;
    justify-content: space-around;
}


.exitos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15%;

}

.exitoTitulo {
    font-size: 7vw;
    text-align: center;
    font-weight: 600;
    margin: 4% 0%;
}

.exitoTexto {
    font-size: 4.8vw;
    margin-top: 4%;
}

.fondoExito {
    background-color: var(--color-secundario);
    width: 100%;
    height: 10vw;
    border-radius: 5%;
    padding-top: 5%;
    padding-left: 3%;
    margin-top: 8%;
}

.exitoSubtitulo {
    color: var(--color-texto-secundario);
    font-weight: 600;
    font-size: 6vw;
}