* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(250, 235, 215);
    text-align: center;
    font-family: sans-serif;
}

p {
    color: white;
}

#container {
    width: 980px;
    margin: 0 auto;
    background-color: #cbeb99;

}

header {
    background-color: rgb(48, 143, 36);
    height: 60px;
    line-height: 60px;
}

#aside {
    background-color: #6299a7;
    float: left;
    width: 260px;
    height: 497px;
    line-height: 30px;
}

#main {
    background-color: rgb(220, 131, 255);
    float: right;
    width: 720px;
    height: 497px;
}

#rojo{
    
}

footer {
    background-color: rgb(255, 128, 105);
    height: 30px;
    clear: both;
    line-height: 30px;
}