* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(250, 235, 215);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

#container {
    width: 980px;
    margin: 0px auto;
}

header {
    background-color: rgb(243, 176, 164);
    height: 100px;
    line-height: 100px;
}

p {
    text-align: center;
    font-size: 25px;
}

nav {
    background-color: rgb(255, 239, 147);
    height: 30px;
    line-height: 30px;
}

#informacion {
    background-color: rgb(178, 252, 255);
    float: left;
    width: 780px;
    height: 500px;
    line-height: 500px;

}

#lateral {
    background-color: rgb(182, 182, 241);
    float: right;
    height: 500px;
    line-height: 500px;
    width: 200px;

}

footer {
    background-color: rgb(231, 158, 158);
    height: 30px;
    line-height: 30px;
    clear: both;
}