*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
}
#info{
    margin-top: 60px;
}

@media screen and (min-width:600px){
    
}
@media screen and (min-width:1200px){
    
}