* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(250, 235, 215);
    text-align: center;
}

#container {
    width: 980px;
    margin: 0 auto;
    background-color: #cbeb99;
    font-size: 0;

}

p {
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;

}

header {
    background-color: rgb(243, 176, 164);
    height: 100px;
    line-height: 100px;
}

nav {
    background-color: rgb(255, 239, 147);
    height: 30px;
    line-height: 30px;
}

#informacion,
#lateral {
    display: inline-block;
    height: 500px;
    line-height: 500px;
}

#informacion {
    background-color: rgb(178, 252, 255);
    width: 780px;
}

#lateral {
    background-color: rgb(182, 182, 241);
    width: 200px;
}

footer {
    background-color: rgb(231, 158, 158);
    height: 30px;
    line-height: 30px;
}