@import "tailwindcss";

.test {
  color: red;
}

.imagenFondo {
  background-image: url("../sources/img/platos/Pato.png");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.papiroFondo {
  background-image: url("../sources/img/papiro.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 7vh;
  width: 90%;
  border-radius: 10px 28px 15px 25px;
}