:root {
    --color-primario: #91070C;
    /* Azul oscuro */
    --color-secundario: #646E78;
    /*Azul más claro */
    --color-texto-principal: #000;
    /* Negro */
    --color-texto-secundario: #FFF;
    /* Blanco */
    --fuente-principal: "Hepta Slab", serif;

    /* --espaciado-base: 1rem; */
}


* {
    margin: 0;
    padding: 0;
    font-family: var(--fuente-principal);
    box-sizing: border-box;
}

.logo {
    width: 35%;
}

.titulo {
    padding: 7% 0% 4% 0%;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}

.formulario {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-bottom: 8%;
}

.contactoTitulo {
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 2%;
}

.formularioDiv {
    padding-left: 3%;
}

.formularioSeccion {
    display: flex;
    flex-direction: row;
    padding-top: 4%;
}



.etiquetaFormulario {
    color: var(--color-primario);
    font-weight: 600;
    margin-right: 2%;
}

.boton {
    padding-top: 3%;
    margin-left: 10%;
}

.botonFormulario {
    background-color: var(--color-primario);
    border: var(--color-primario) 2px solid;
    color: var(--color-texto-secundario);
    border-radius: 60px;
    width: 70%;
    height: 5vh;
    font-size: .9rem;
    font-weight: 500;
}

.infoContacto {
    margin-left: 10%;
}

.infoTextoContacto {
    padding-left: 5%;
    font-size: .8rem;
}

.llamarContacto {
    display: flex;
    justify-content: end;
    padding-top: 5%;
}

.divLlamar {
    background-color: #25D366;
    color: var(--color-texto-secundario);
    width: 40%;
    height: 5.5vh;
    border-radius: 50px;
    display: flex;
    gap: 7%;
    flex-direction: row;
}

.iconoLlamada {
    color: #FFF;
    font-size: 190%;
    padding-top: 2%;
}

.infollamar{
    padding: 5% 0% 0% 9%;
}

footer{
    background-color: var(--color-texto-principal);
    margin-top: 5%;
    height: 10vh;
    color:var(--color-texto-secundario);
    font-size: .6rem;
    display: flex;
    gap: 5%;
    flex-direction: column;
}
.divTextoFooter{
    display: flex;
    padding-left: 1%;
}
.paginas{
    display: flex;
    gap: 3.5%;
    padding: 5% 0% 3% 3%;
    width: 80%;
}
.iconoFooter{
    padding-top: 6%;
}
.textoFooterAbajo{
    padding-left: 4%;
    margin-top: -1%;
    font-size: .6rem;
}


