:root {
    --color-primario: #91070C;
    /* Azul oscuro */
    --color-secundario: #646E78;
    /*Azul más claro */
    --color-texto-principal: #000;
    /* Negro */
    --color-texto-secundario: #FFF;
    --color-secundario-transparent: #646E7845;
    /* Blanco */
    --fuente-principal: "Hepta Slab", serif;
}


* {
    margin: 0;
    padding: 0;
    font-family: var(--fuente-principal);
    box-sizing: border-box;
}

header {
    margin: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 20%;
}

.iconoHeader {
    font-size: 2.5rem;
}

.imgCarrusel {
    width: 80%;
}

.carrusel {
    display: flex;
    overflow-x: scroll;
    width: 90%;
    margin-bottom: 5%;
}

.titulo {
    padding: 7% 0% 4% 0%;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}

.formulario {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-bottom: 8%;
}

.contactoTitulo {
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 2%;
}

.formularioDiv {
    padding-left: 3%;
}

.formularioSeccion {
    display: flex;
    flex-direction: row;
    padding-top: 4%;
}



.etiquetaFormulario {
    color: var(--color-primario);
    font-weight: 600;
    margin-right: 2%;
}

.boton {
    padding-top: 3%;
    margin-left: 10%;
}

.botonFormulario {
    background-color: var(--color-primario);
    border: var(--color-primario) 2px solid;
    color: var(--color-texto-secundario);
    border-radius: 60px;
    width: 70%;
    height: 5vh;
    font-size: .9rem;
    font-weight: 500;
}

.infoContacto {
    margin-left: 10%;
}

.infoTextoContacto {
    padding-left: 5%;
    font-size: .8rem;
}

.llamarContacto {
    display: flex;
    justify-content: end;
    padding-top: 5%;
}

.divLlamar {
    background-color: #25D366;
    color: var(--color-texto-secundario);
    width: 40%;
    height: 5.5vh;
    border-radius: 50px;
    display: flex;
    gap: 7%;
    flex-direction: row;
}

.iconoLlamada {
    color: #FFF;
    font-size: 190%;
    padding-top: 2%;
}

.infollamar {
    padding: 5% 0% 0% 9%;
}

footer {
    background-color: var(--color-texto-principal);
    margin-top: 5%;
    height: 10vh;
    color: var(--color-texto-secundario);
    font-size: .6rem;
    display: flex;
    gap: 5%;
    flex-direction: column;
}

.divTextoFooter {
    display: flex;
    padding-left: 1%;
}

.paginas {
    display: flex;
    gap: 3.5%;
    padding: 5% 0% 3% 3%;
    width: 80%;
}

.iconoFooter {
    padding-top: 6%;
}

.textoFooterAbajo {
    padding-left: 4%;
    margin-top: -1%;
    font-size: .6rem;
}

.rojoTexto {
    color: var(--color-primario);
    font-weight: 700;
}

.valores1,
.valores2 {
    padding: 0% 3% 0% 3%;
}

.texto {
    font-size: .8rem;
}

.valor1,
.valor2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4%;

}

.imagenValores {
    width: 65%;
    border-radius: 20px;
}

.textoValor {
    padding-left: 6%;
}

.portada {
    height: 100vh;
    background-color: #0E1929;

}

.imgPortada {
    width: 100%;
    padding-top: 40%;
}

.infoPartners {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgPartners {
    width: 95%;
    display: flex;
    justify-content: center;
}

.imgEspecialidades {
    width: 70%;
}

.partnersTitulo,
.especialidadesTitulo {
    font-weight: 500;
    align-self: flex-start;
    margin-left: 10%;
}

.especialidadesTitulo {
    margin-top: 5%;
}

.encabezado {
    background-image: url("../img/imagenInfo.jpg");
    width: 100%;
    height: 50vh;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--color-texto-secundario);
    padding: 5%;
    gap: 5%;
    margin-bottom: 5%;
}



.servicioInfo {
    font-size: .7rem;
    text-align: center;
    width: 110%;
}

.servicio {
    background-color: var(--color-secundario-transparent);
    width: 85%;
    border-radius: 10px;
    display: flex;
    height: 20vh;
    margin-top: 3%;
}

.imgServicio {
    width: 50%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-self: center;
}

.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenesServicios {
    width: 60%;
    border-radius: 10px;
}

.textoServicio {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 40%;
}

.infoTitulo {
    font-weight: 500;
    font-size: 1.2rem;
    padding: 2% 0% 0% 5%;
    align-self: flex-start;
}

.servicioTitulo {
    text-align: center;
}

.especialidades {
    margin-left: 5%;
}

.imgEspecialidad {
    width: 40%;
}

.textoPartners {
    margin-left: 5%;
    font-size: .7rem;
}

.opiniones {
    width: 90%;
    display: flex;
    gap: 5%;
}

.opinion {
    background-color: var(--color-secundario-transparent);
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: center;
    align-items: center;
    padding: 5%;
    margin-top: 5%;
    border-radius: 10px;
}

.imgPartner {
    width: 80%;
    border-radius: 15px;
}

.estrella {
    color: #ffee00;
    margin-top: 7%;
}

.textoPartner {
    font-size: .7rem;
}

.usuario {
    padding: 5% 0%;
}


.imgEspecialidad {
    width: 200px; 
    cursor: pointer;
    transition: transform 0.3s ease;
    display: block;
}


/* --- Estilos del Contenedor del Modal  */
.contenedorModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75); /* Oscurece el fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Para que esté por encima de todo */
    
    /* Escondido por defecto */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

/* LA MAGIA: Cuando el ID coincide con la URL (#modal1) */
.contenedorModal:target {
    opacity: 1;
    pointer-events: auto;
}

/* --- Caja Blanca del Modal --- */
.modal-content {
    background-color: #fff;
    width: 90%;
    max-width: 500px;
    padding: 30px;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    
}



/* --- Botón Cerrar (X) --- */
.btn-cerrar {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    text-decoration: none;
    color: #666;
    line-height: 1;
}

.btn-cerrar:hover {
    color: #000;
}

/* --- Contenido Interno --- */
.modal-body h2 {
    margin-top: 0;
    color: #333;
}

.enlaces{
    color: var(--color-texto-secundario);
    text-decoration: none;
}