* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #fff;
  width: 1080px;
  height: 1920px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page {
  width: 1070px;
  margin: 10px auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header {
  height: 70px;
  position: relative;
}

.logo-box {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 170px;
  height: 36px;
  font-size: 20px;
  float: left;
  line-height: 35px;
  margin-top: 15px;
  padding-left: 10px;
}

div[style*="background-color: rgb(212, 212, 212)"] {
    background-color: rgb(243, 242, 242) !important;
  position: absolute;
  left: 500px;
  top: 0;
  height: 70px;
  padding: 0;
  width: 520px;
  box-sizing: border-box;
  overflow: hidden; 
}

.top-menu {
  float: left;
  margin-top: 25px;
  margin-left: 10px; 
  width: auto; 
  height: 36px;
}

.menu-item {
  width: 50px; 
  margin-left: 15px; 
  margin-top: 7px;
  line-height: 20px;
  height: 20px;
  padding-left: 5px; 
  font-size: 12px;
  float: left;
}

.top-buttons {
  float: right;
  margin-top: 17px;
  margin-right: 10px; 
  width: 280px; 
  height: 45px;
}

.top-buttons .btn {
  width: 125px;
  height: 30px;
  float: left;
  border-radius: 5px;
  line-height: 30px; 
  padding-left: 15px;
  margin-top: 7px;
  margin-left: 15px; 
  font-size: 12px;
  text-align: left;
}


.top-buttons .btn:first-child {
  margin-left: 0; 
}

.top-section {
  height: 300px;
}

.left-top {
  width: 46.7%;
  height: 100%;
  padding: 28px 30px;
  float: left;
}

.right-top {
  width: 48.7%;
  height: 300px;
  text-align: center;
  float: left;
  background-color: rgb(243, 242, 242);
}

.lt-line {
  height: 40px;
  margin-bottom: 7px;
  width: 70%;
}

.lt-line-1 {
  width: 70%;
  height: 7px;
  color: blueviolet;
  font-size: 11px;
}

.lt-line-2 {
  width: 85%;
  font-size: 40px;
  height: 100px;
  margin-bottom: 5px;
}

.lt-line-3 {
  width: 75%;
  height: 40px;
  font-size: 12px;
}

.lt-line-4 {
  width: 35%;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  padding-left: 20px;
  line-height: 30px;
  font-size: 12px;
  height: 30px;


}

.lt-small,
.lt-medium {
  height: 20px;
  float: left;
  width: 150px;
}


.middle-section {
  height: 250px;
}

.middle-left,
.middle-right {
  width: 45%;
  height: 350px;
  float: left;
}

.middle-left{
  text-align: center;
}
.middle-right {
  width: 55%;
  position: relative;
  height: auto;
}

.mr-card {
  width: 400px;
  height: 90px;
  font-size: 50px;
  top: 10%;
  position: relative;
  left: 20%;
  margin-bottom: 30px;/
}

.mr-line {
  width: 450px;
  padding: 1px;
  height: auto;
  margin-left: 125px;
  margin-bottom: 15px;
}

.mr-line p {
  margin-top: 5px;
  margin-bottom: 5px;
}


.lower-section {
  margin-left: 150px;
  height: 340px;
  width: 800px;
  background-color: rgb(243, 242, 242);
  clear: both;
  margin-bottom: 1px;
  border-radius: 15px;

}

.lower-left,
.lower-right {
  width: 32%;
  height: 300px;
  float: left;
}

.lower-left {
  padding: 30px;
  width: 68%;
}

.ll-big,
.ll-medium,
.ll-small {
  margin-bottom: 40px;
  margin-left: 50px;
}

.ll-big {
  margin-top: 15px;
  width: 420px;
  height: 80px;
  font-size: 40px;

}

.ll-medium {
  width: 400px;
  height: 36px;
  font-size: 14px;
}

.ll-small {
  background-color: blueviolet;
  margin-top: 20px;
  padding-left: 25px;
  color: white;
  width: 200px;
  height: 60px;
  line-height: 55px;
  border-radius: 5px;
}

.cards-section {
  padding: 10px 30px;
  height: 490px;
}

.search-bar {
  width: 450px;
  height: 30px;
  font-size: 30px;
  margin-bottom: 8px;
}

.search-bar2 {
  width: 300px;
  height: 10px;
  font-size: 12px;
  margin-bottom: 12px;
}

.card {
  width: 300px;
  float: left;
  margin-right: 30px;
}

.card:last-child {
  margin-right: 0;
}

.card-img {
  width: 100%;
  height: 300px;
  margin-bottom: 7px;
  border-radius: 5px;
  ;
}

.card-line {
  width: 285px;
  height: 15px;
  margin-left: 7px;
  font-size: 12px;
  margin-bottom: 10px;
  overflow: hidden;
}

.card-line p:first-child {
  float: left;
  margin: 0;
  padding: 0;
}

.card-line p:last-child {
  float: right;
  margin: 0;
  padding: 0;
}

.card-line2 {
  width: 285px;
  font-size: 12px;
  height: 20px;
  margin-left: 7px;
  margin-bottom: 25px;
  font-weight: bold;
}

.card-small {
  width: 70px;
  font-weight: bold;
  color: blueviolet;
  font-size: 12px;
  ;
  height: 15px;
  margin-bottom: 20px;
  margin-left: 7px;
}


.wide-center {
  margin-left: 100px;
  width: 800px;
  height: 200px;
  position: relative;
  background-color: blueviolet;
  border-radius: 15px;
}


.wc-inner {
  width: 745px;
  height: 150px;
  position: absolute;
  top: 15%;
  left: 3%;
}

.wc-cont {
  width: 410px;
  height: 120px;
  position: absolute;
  top: 10%;
  left: 23%;
}

.wc-small,
.wc-line,
.wc-line2 {
  margin: 0 auto 10px;
  margin-top: 10px;
  width: 400px;
}

.wc-small {
  margin-top: 20px;
  height: 20px;
  color: white;
  font-size: 12px;
}

.wc-line {
  height: 30px;
  font-size: 35px;
  color: white;
  font-weight: bold;
}

.wc-line2 {
  height: 50px;
  background-color: white;
  border-radius: 5px;
  padding: 0 15px;
  overflow: hidden;
  box-sizing: border-box;
}

.wc-line2 p {
  float: left;

  margin: 0;
  padding: 0;
  color: #666;
  font-size: 12px;
  font-weight: normal;
  line-height: 50px;
  /* Centra verticalmente */
  height: 50px;
}

.wc-line2 button {
  float: right;
  background-color:blueviolet;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  font-size: 12px;
  margin-top: 10px;
  height: 30px;
  line-height: 14px;
}



.up-footer {
  padding: 20px 30px;
  height: 200px;
}


.fcol {
  width: 230px;
  padding: 8px;
  float: left;
}

.fcol:last-child {
  width: 320px;
  height: 164px;
}

.frow {
  height: 30px;
  font-size: 13px;
  margin-bottom: 7px;
}

.site-footer {
  height: 50px;
}

.footer-bottom {
  height: 5px;
  width: 99%;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  clear: both;
}

.caja {
  height: 40px;
  width: 100%;
  overflow: hidden;
}

#cajaizq {
  width: 25%;
  height: 25px;
  float: left;
  margin: 5px;
  font-size: 10px;
}

#cajader {
  width: 25%;
  height: 25px;
  font-size: 10px;
  float: right;
  margin: 5px;
}


/* ---------- LIMPIAR FLOATS ---------- */
.top-section::after,
.middle-section::after,
.lower-section::after,
.cards::after,
.footer-cols::after,
.footer-bottom::after {
  content: "";
  display: table;
  clear: both;
}